# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cplusplus-training-app/.vs/cplusplus-training-app/v16
/cplusplus-training-app/cplusplus-training/cplusplus-training.vcxproj
/cplusplus-training-app/cplusplus-training/cplusplus-training.vcxproj.filters
/cplusplus-training-app/cplusplus-training/cplusplus-training.vcxproj.user
/cplusplus-training-app/cplusplus-training/Debug
/cplusplus-training-app/Debug
